/*-----------TYPOGRAPHY------------------------*/
body {
  margin: 0;
  font-family: "Quattrocento Sans", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

figure {
  margin: 0;
  padding: 0;
}

/*---------------GENERAL STYLING-----------------------*/

h2 {
  text-align: center;
  padding: 1em 0;
  margin: 0;
}

img {
    display: block;
  	border: 0;
  	width: 100%;
}

p {
  margin: 0;
  padding: 1em 0;
}

/*------------PROMO SECTION-----------------------------*/

.logo,
.site-title {
  text-align: center;
}

.logo {
  font-size: 8em;
}

.site-title {
  margin-top: -1em;
  margin-bottom: 3em;
}

/*--------------SPLASH SECTION---------------------------------*/

.splash {
	background: #FFF6E5;
  padding-bottom: 2em;
}

.splash-content {
  padding: 1.5em;
}

@media screen and (min-width: 600px) {
  .splash-text {
    columns: 2;
    column-gap: 2em;
  }

  .splash-text p {
    padding-top: 0;
  }
}

/*-------BUCKET SECTION----------------*/

.buckets {
  padding: 2em 1em 1em;
  background: #3E454C;
}

.buckets ul {
  margin: 0;
  padding: 0;
}

.buckets li {
  margin-bottom: 1em;
  background: white;
  list-style-type: none;
}

.bucket {
  padding: 1.5em;
}

/*----------SECTION MORE-----------------*/

.more {
  padding: 2em;
}

.more-content {
  padding: 1.5em;
}

/*-------------TWIN SECTION-----------------*/

.twin {
  padding: 2em;
  background: #2185C5;
  color: white;
}

.twin:last-of-type {
  background: #FF7F66;
}

/*------------COLOPHON SECTION-----------------*/

.colophon {
  background: hsl(0, 0%, 10%);
  color: white;
  padding: 2em;
}

/*--------Use flex to create a three-bucket layout-------------*/

@media screen and (min-width: 700px) {
  @supports (display: flex)  {
    .buckets ul {
      display: flex;
      justify-content: space-around;
    }
    .buckets li {
      width: 48%;
    }
  }
}

/*-------Basic responsive layout for all browsers:-------------*/

.site {
  max-width: 50em;
  margin: 0 auto;
}
